p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-slides {
height: 100%;
}

ion-slide {
  display: block;
}

ion-label, .select-text {
  margin-left: 10px;
}

.invalid {
  border: 1px solid #ea6153;
}

    .ion-list + ion-list {
        margin-top: 0;
      }
      .small-text {
        font-size: 10px;
      }
    .ion-list:first-child {
        margin-top: 32px;
      }
      ion-list + ion-list {
        margin-top: 0;
      }
    
    
      

