
  <ion-header>
      <ion-toolbar color="navbarColor">
        <ion-title>
          Sign Up
        </ion-title>
        <button ion-button slot="start">
          <button ion-button (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</button>
        </button>
        <button ion-button slot="end">
          <button ion-button (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon></button>
        </button>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-slides #signupSlider pager>

          <ion-slide>
    
            <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
    
            <ion-list lines="none">
    
                <form [formGroup]="slideOneForm">
    
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
                    </ion-item>
    
                    <ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
                        <p>Please enter a valid name.</p>
                    </ion-item>
    
                    <ion-item>
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.age.dirty || submitAttempt)"></ion-input>
                    </ion-item>
    
                    <ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
                        <p>Please enter a valid name.</p>
                    </ion-item>
    
                    <ion-item>
                        <ion-label position="floating">Age</ion-label>
                        <ion-input formControlName="age" type="number" [class.invalid]="!slideOneForm.controls.age.valid && (slideOneForm.controls.age.dirty || submitAttempt)"></ion-input>
                    </ion-item>
    
                    <ion-item *ngIf="!slideOneForm.controls.age.valid  && (slideOneForm.controls.age.dirty || submitAttempt)">
                        <p>Please enter a valid age.</p>
                    </ion-item>
    
                </form>
    
            </ion-list>
    
          </ion-slide>
    
          <ion-slide>
    
            <ion-list lines="none">
    
                <form [formGroup]="slideTwoForm">
    
                    <ion-item>
                        <ion-label position="floating">Username</ion-label>
                        <ion-input [class.invalid]="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
                    </ion-item>
    
                    <ion-item *ngIf="slideTwoForm.controls.username.pending">
                        <p>Checking username...</p>
                    </ion-item>
    
                    <ion-item *ngIf="!slideTwoForm.controls.username.valid && !slideTwoForm.controls.username.pending && (slideTwoForm.controls.username.dirty || submitAttempt)">
                        <p>Sorry, that username can not be used!</p>
                    </ion-item>
    
                    <ion-item>
                        <ion-label position="floating">Privacy</ion-label>
                        <ion-select [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)" formControlName="privacy">
                            <ion-option value="public" checked="true">Public</ion-option>
                            <ion-option value="friends">Friends Only</ion-option>
                            <ion-option value="private">Private</ion-option>
                        </ion-select>
                    </ion-item>
    
                    <ion-item>
                        <ion-label position="floating">Bio</ion-label>
                        <ion-textarea formControlName="bio"></ion-textarea>
                    </ion-item>
    
                </form>
    
            </ion-list>
    
            <button ion-button expand="full" color="primary" (click)="save()">Create Account!</button>
            
    
          </ion-slide>
    
        </ion-slides>
  
      </ion-content>




      <ion-content>


<ion-list inset>

  <ion-item>

    
    <ion-label>Servicio</ion-label>
    <ion-select [(ngModel)]="idHabilidad" (ngModelChange)="cambiarHabilidad($event)">

        <ion-option placeholder="Tipo de servicio" *ngFor="let hab of habilidades" value={{hab.Id}} >
            <h2>{{hab.Nombre}}</h2>
            
        </ion-option>


          
    </ion-select>
  </ion-item>
  
  <div *ngIf ="habilidad!=null">
    <ion-item>
      <ion-label>Servicio Especifico</ion-label>
      <ion-select [(ngModel)]="idHabilidadEspecifica" (ngModelChange)="cambiarHabilidadEspecifica($event)">
  
          <ion-option placeholder="Tipo de servicio" *ngFor="let habEsp of habilidad.HabilidadesEspecificas" value={{habEsp.Id}} >
              <h2>{{habEsp.Nombre}}</h2>
          </ion-option>
  
  
            
      </ion-select>
    </ion-item>

  </div>
  




  <ion-item>
      <ion-label>Fecha de servicio</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fechaServicio"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>Hora de servicio</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="horaServicio"></ion-datetime>
    </ion-item>

    <ion-input placeholder="Cantidad de horas del servicio"  type="number" [(ngModel)]="cantidadDeHoras" ></ion-input>


    <ion-item>
      <ion-range dualKnobs="true" pin="true" [(ngModel)]="rangoPrecio" color="dark" min="10000" max="999999" step="5000">
        <ion-icon range-left small name="logo-usd"></ion-icon>
        <ion-icon range-right name="logo-usd"></ion-icon>
      </ion-range>
    </ion-item>

    
    <div>
        <ion-label>{{rangoPrecio.lower}} -- {{rangoPrecio.upper}}</ion-label>

    </div>

    <ion-input placeholder="Direccion"  [(ngModel)]="direccion" ></ion-input>
    
    <div >
    <ion-item>
        <ion-textarea  [(ngModel)]="descripcion"  rows="6" cols="20"  maxlength="300" 	minlength="10" placeholder="Descripcion del servicio" ></ion-textarea>
    </ion-item>
    </div>


    <ion-item>
        <ion-label>Elegir Manual</ion-label>
        <ion-toggle  checked="false"  [(ngModel)]="manual"></ion-toggle>
    </ion-item>



    
</ion-list>



<ion-card>
    <ion-card-header>
      Selecciono
    </ion-card-header>
    <ion-card-content>

       {{manual}}
      
      <ion-item  *ngIf ="habilidad!=null && habilidadEspecifica " >
          
          {{fechaServicio}}
          --
          {{horaServicio}}
          --
          {{idHabilidad}}
          --
          {{habilidad.Nombre}}
          --
          {{habilidadEspecifica.Nombre}}
          --
          {{cantidadDeHoras}}
          --
          {{rangoPrecio.lower}},{{rangoPrecio.upper}}
      </ion-item>
   
      
    </ion-card-content>
  </ion-card>


<ion-item>
  <button ion-button color="dark"  (click)="enviarDatosDeFormulario()" >Dark</button>
</ion-item>
</ion-content>

